Repository robhanlon22/kaocha-snapshot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cljstyle, clj-kondo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cljstyle
        name: cljstyle
        description: This hook runs cljstyle fix on applicable files.
        entry: cljstyle fix
        language: system
        types: [file]
        files: \.(clj|edn)$
      - id: clj-kondo
        name: clj-kondo
        description: This hook runs clj-kondo fix on applicable files.
        entry: clj-kondo fix
        language: system
        types: [file]
        files: \.clj$

Tests -> unit tests
  .github/workflows/unit_tests.yml
Due: none

Fix build
  .github/workflows/clj-kondo.yml
  .github/workflows/cljstyle.yml
  .github/workflows/unit_tests.yml
  deps.edn
  src/kaocha/plugin/snapshot.clj
Due: cljstyle, clj-kondo

Fix clj-kondo workflow name
  .github/workflows/clj-kondo.yml
Due: none

Fix build... again
  .github/workflows/clj-kondo.yml
  .github/workflows/cljstyle.yml
Due: none

Split plugin and assertions
  .cljstyle
  dev-resources/fixtures/kaocha/plugin/snapshot/a_fixture/failure_test_1.edn
  dev-resources/fixtures/kaocha/plugin/snapshot/a_fixture/success_test_1.edn
  dev-resources/snapshots/kaocha/plugin/snapshot_test/match_snapshot_test_1.edn
  dev/user.clj
  src/kaocha/plugin/snapshot.clj
  src/kaocha/plugin/snapshot/assert.clj
  test/kaocha/plugin/snapshot/a_fixture.clj
  test/kaocha/plugin/snapshot/assert_test.clj
  test/kaocha/plugin/snapshot_test.clj
  tests.edn
Due: cljstyle, clj-kondo

cljstyle fix
  .cljstyle
Due: none

Unify CI using pre-commit
  .github/workflows/ci.yml
  .github/workflows/clj-kondo.yml
  .github/workflows/cljstyle.yml
  .github/workflows/unit_tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

cache pip as well
  .github/workflows/ci.yml
Due: none

verbose pre-commit output
  .pre-commit-config.yaml
Due: none

Split into separate jobs
  .github/workflows/ci.yml
Due: none

remove anchors :(
  .github/workflows/ci.yml
Due: none

okay, duplicate everything
  .github/workflows/ci.yml
Due: none

::base-path is available on the test-plan
  dev-resources/fixtures/kaocha/plugin/snapshot/a_fixture/failure_test_1.edn
  dev-resources/fixtures/snapshots/kaocha/plugin/snapshot/a_fixture/failure_test_1.edn
  dev-resources/fixtures/snapshots/kaocha/plugin/snapshot/a_fixture/success_test_1.edn
  src/kaocha/plugin/snapshot.clj
  test/kaocha/plugin/snapshot/a_fixture.clj
  test/kaocha/plugin/snapshot_test.clj
Due: cljstyle, clj-kondo

More specs
  src/kaocha/plugin/snapshot.clj
  tests.edn
Due: cljstyle, clj-kondo

Add an AOT compile check step
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  deps.edn
Due: cljstyle

Fix cache names
  .github/workflows/ci.yml
Due: none

More cache fixin
  .github/workflows/ci.yml
Due: none

binstubs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  bin/check
  bin/clj-kondo
  bin/cljstyle
  bin/prettier
Due: none

Remove errant action
  .github/workflows/ci.yml
Due: none

Integrate orchestra into REPL workflow
  deps.edn
  dev/user.clj
  test/kaocha/plugin/snapshot_test.clj
Due: cljstyle, clj-kondo

Add coverage
  .github/workflows/ci.yml
  .gitignore
  deps.edn
  test/kaocha/plugin/snapshot/a_fixture.clj
  test/kaocha/plugin/snapshot/assert_test.clj
  tests.edn
Due: cljstyle, clj-kondo

badges
  README.md
Due: none

Add profiling
  tests.edn
Due: cljstyle

macOS setup script
  .gitignore
  .pre-commit-config.yaml
  Brewfile
  bin/setup-macos
Due: none

Rename to krispie
  CHANGELOG.md
  README.md
  deps.edn
  doc/intro.md
  pom.xml
Due: cljstyle

Change code to match new krispie name
  .cljstyle
  dev-resources/fixtures/snapshots/krispie/a_fixture/failure_test_1.edn
  dev-resources/fixtures/snapshots/krispie/a_fixture/success_test_1.edn
  dev-resources/snapshots/kaocha/plugin/krispie_test/match_snapshot_test_1.edn
  src/kaocha/plugin/krispie.clj
  src/krispie.clj
  test/kaocha/plugin/krispie_test.clj
  test/krispie/a_fixture.clj
  test/krispie_test.clj
  tests.edn
Due: cljstyle, clj-kondo
